<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Xavier Roig">

    <!-- Bootstrap CSS -->
	  <link rel="stylesheet" 
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>GCE</title>

    <!-- Custom styles for this template -->
    <link href="../../static/css/dominio/dominio.css" th:href="@{/css/dominio/dominio.css}"rel="stylesheet">

  </head>
  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="row">
            <div class="col-12">
                <header class="masthead mb-auto">
                    <div class="inner">
                        <h3 class="masthead-brand">
                        <a href="#">GCE</a>
                        </h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="#">Dominio</a>
                        <a class="nav-link" href="#">Usuario</a>
                    </nav>
                    </div>
                </header>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <main role="main" class="inner cover">
                    <form method="POST" action="#"
                    	th:action="@{/domainValue/}"
                    	th:object="${domainValue}">
                    	<input type="hidden" th:field="*{id}" id="id" />
                    	<input type="hidden" th:field="*{domain.id}" id="domain.id" />
                        <div class="container text-left">
                            <div class="form-row">
                            	<div class="col-3"></div>
                                <div class="col-6">
                                	<h4>
                                    	<span th:text="*{id} ? 'Editar' : 'Nuevo'"></span>
                                    	Valor del dominio
                                    </h4>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            <div class="form-row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="value" class="">Valor del dominio</label>
                                        <input type="text" class="form-control" id="value" name="value" placeholder="EJEM" required
                                        	style="text-transform: uppercase;"
                                        	th:field="*{value}" th:classappend="${#fields.hasErrors('*{value}')} ? 'is-invalid'"/>
                                        <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}" 
                                        		class="help-block invalid-feedback" id="value-error">
                                        	Errores
                                        </span>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>

                            <div class="form-row justify-content-end">
                                <div class="col-6"></div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <button type="submit" id="submit" name="submit" class="btn btn-primary btn-sm" disabled="disabled">Guardar</button>
                                        <button type="reset" id="reset" name="reset" class="btn btn-warning btn-sm">Limpiar</button>
                                        <a href="domains_value_list.html" class="btn btn-danger btn-sm" th:href="@{/domainValue/domain/1}">Cancelar</a>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>

                        </div>
                    </form>
                </main>
            </div> 
        </div>

        <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>
                <a class="github" href="https://github.com/xroigmartin/gce" target="_blank">
                </a>
                <a class="twitter" href="https://twitter.com/xroigmartin" target="_blank">
                </a>
                <a class="linkedin" href="https://www.linkedin.com/in/xavier-roig-martin-0a755249/" target="_blank">
                </a>
              </p>
            </div>
        </footer>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
			
	<script src="../../static/js/dominio/dominio.js" th:src="@{/js/dominio/dominio.js}"></script>

  </body>
</html>